:root {
  --background-color: #f5f5f6;
}

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-size: 1.2rem;
  padding: 5px 5px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 50px;
  background: #f5f5f6;
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 10px;
}

header {
  background: #fffff3;
  display: grid;
  grid-area: header;
  align-items: center;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 8px 20px;
}
.nav__logo {
  font-family: "Shadows Into Light", cursive;
  font-size: 2rem;
  flex-basis: 20%;
}
a {
  text-decoration: none;
  color: black;
}
.nav__menu {
  padding-left: 0;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex-basis: 50%;
}

.nav__menu li {
  padding: 2px 10px;
  border-bottom: 1px solid transparent;
  border-width: 0;
  transition: border-width 0.5s, border-bottom 0.5s;
}
.nav__menu li:hover {
  border-width: 50%;
  transition: border-width 0.5s, border-bottom 0.5s;
  transition-timing-function: ease-out;
  border-bottom: 1px solid #cb937c;
}
.nav__etc {
  text-align: end;
  flex-basis: 20%;
}

main {
  background: var(--background-color);

  grid-area: main;
}

.content {
  padding: 5px 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background: #ccccc0;
  grid-area: footer;
}

@media screen and (max-width: 769px) {
  body {
    font-size: 1.2rem;
    padding: 5px 5px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 270px 1fr 50px;
    background: #f5f5f6;
    grid-template-areas:
      "header"
      "main"
      "footer";
    gap: 10px;
  }
  header {
    height: 70px;
    overflow: hidden;
    background: #fffff3;
    display: grid;
    grid-area: header;
    align-items: start;
    transition: height 0.5s;
  }
  header:hover {
    transition: height 0.5s;
    transition-timing-function: ease-out;
    height: 100%;
  }
  .nav {
    display: flex;
    flex-direction: column;
  }
  .nav__logo {
    padding-bottom: 5px;
  }
  .nav__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .nav__menu li {
    text-align: center;
    width: 100%;
    padding: 6px 10px;
    border-bottom: none;
  }
  .nav__menu li:hover {
    border-radius: 0.5rem;
    background: #bebaba;
    transition: background 0.5s;
    transition-timing-function: ease-out;
    border-bottom: none;
  }

  .nav__etc {
    width: 100%;
    text-align: center;
  }
}
